.clothes-pics.container-fluid
	.row.img-row
		figure.col-md-4
			img(src="assets/img/model1.jpg")
				figcaption Blackbird Sweater - <strong>135$</strong>
		figure.col-md-4
			img(src="assets/img/model2.jpg")
			figcaption Blackbird Jacket - <strong>135$</strong>
		figure.col-md-4
			img(src="assets/img/model3.jpg")
			figcaption Blackbird Trousers - <strong>135$</strong>	
	.row.img-row
		figure.col-md-4
			img(src="assets/img/model2.jpg")
			figcaption Blackbird Jacket - <strong>135$</strong>
		figure.col-md-4
			img(src="assets/img/model3.jpg")
			figcaption Blackbird Trousers - <strong>135$</strong>
		figure.col-md-4
			img(src="assets/img/model1.jpg")
			figcaption Blackbird Sweater - <strong>135$</strong>
	.row.img-row
		figure.col-md-4
			img(src="assets/img/model1.jpg")
			figcaption Blackbird Sweater - <strong>135$</strong>
		figure.col-md-4
			img(src="assets/img/model2.jpg")
			figcaption Blackbird Jacket - <strong>135$</strong>
		figure.col-md-4
			img(src="assets/img/model3.jpg")
			figcaption Blackbird Trousers - <strong>135$</strong>
