
.container-fluid
	.blog-posts.row
		figure.col-md-4
			.post.post-1
				h3 Post Title
				img(src="assets/img/posts/one.jpg")
				p  Lorem ipsum dolor sit amet praesentium natus
				p: a.btn.btn-default(href="") Read More
		figure.col-md-4
			.post.post-2
				h3 Post Title
				img(src="assets/img/posts/two.jpg")
				p   Ad saepe quae repellendus praesentium 
				p: a.btn.btn-default(href="") Read More
		figure.col-md-4
			.post.post-3
				h3 Post Title
				img(src="assets/img/posts/three.jpg")
				p   Tempora, nisi sunt dignissimos adipisci minus
				p: a.btn.btn-default(href="") Read More
