footer
	.row.footer-stuff
		.col-xs-3
			strong FIND US ON
			ul
				li
					a(href="") Twitter
				li
					a(href="") Facebook
				li
					a(href="") Pinteresr
				li
					a(href="") Instagram

		.col-xs-3
			strong OTHERS SHOPS
			ul
				li
					a(href="") Red Robin
				li
					a(href="") Emerald Eagle
				li
					a(href="") Crimson Crane
				li
					a(href="") Auburn Abbot

		.col-xs-6
			p <strong> Sign Up for the newsletter</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, dolor.

			form.row.form-group
				.col-xs-8
					input.form-control(type="email" placeholder="Your Email")
				.col-xs-4
					input.btn.btn-primary(type="submit")


